<div class="container">
  <div class="row" *ngIf="!apiCallActive">
    <div class="col">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
          <div class="document-main-title">
            <div class="document-head">
              <span>{{portfoliao.Name ? portfoliao.Name : 'portfoliao'}}</span>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
          <div class="select-date">
            <form class="ngform" [formGroup]="portfoliaoDetail" validate>
              <div class="form-group label-floating mt-3">
                <label class="control-label">Portfoliao Date</label>
                <input class="form-control" angular-mydatepicker name="dob" (click)="dp.toggleCalendar()" (dateChanged)="onDateChanged($event)" formControlName="portfoliaoDate" [options]="myOptions" #dp="angular-mydatepicker" />
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="document-check-list">
            <div class="documentlist">
              <div class="row">
                <div class="col-12">
                  <div class="document-list-head">
                    <ul>
                      <li>
                        <div class="docx-title"><span>Security</span> </div>
                      </li>
                      <li>
                        <div class="docx-title"><span>Date</span></div>
                      </li>
                      <li>
                        <div class="docx-title"><span>Shares</span></div>
                      </li>
                      <li>
                        <div class="docx-title"><span>Price</span></div>
                      </li>
                      <li>
                        <div class="docx-title"><span>Amount</span></div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div id="portfolio" role="tablist">
                    <div class="card-collapse" *ngFor="let item of transactionsList; index as i">
                      <div class="card-header" role="tab" id="headingOne">
                        <a class="card-link" data-toggle="collapse" href="#{{item.SecurityId + i}}" aria-controls="collapseOne" aria-expanded="true">
                          <div class="card-link-title">
                            <span class="accordion-arrow"><i class="caret"></i></span>
                          </div>
                          <ul>
                            <li>
                              <div class="docx-body">
                                <div class="document-label">
                                  <label>Security {{item.SecurityId}}</label>
                                </div>
                              </div>
                            </li>
                            <li>
                              <div class="docx-body">
                                <div class="document-label">
                                  <label>{{item.Date}}</label>
                                </div>
                              </div>
                            </li>
                            <li>
                              <div class="docx-body">
                                <div class="document-label">
                                  <label>{{item.Share}}</label>
                                </div>
                              </div>
                            </li>
                            <li>
                              <div class="docx-body">
                                <div class="document-label">
                                  <label>{{item.Value}}</label>
                                </div>
                              </div>
                            </li>
                            <li>
                              <div class="docx-body">
                                <div class="document-label">
                                  <label>{{item.Amount}}</label>
                                </div>
                              </div>
                            </li>
                          </ul>
                        </a>
                      </div>
                      <div [id]="item.SecurityId + i" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                        <div class="document-list-body">
                          <ul *ngFor="let subItem of item.security; index as j">
                            <li>
                              <div class="docx-body">
                                <div class="document-label">
                                  <label>{{item.Type}}</label>
                                </div>
                              </div>
                            </li>
                            <li>
                              <div class="docx-body">
                                <div class="document-label">
                                  <label>{{subItem.EndDate}}</label>
                                </div>
                              </div>
                            </li>
                            <li>
                              <div class="docx-body"><span>{{item.Share}}</span></div>
                            </li>
                            <li>
                              <div class="docx-body"><span>{{subItem.Value}}</span></div>
                            </li>
                            <li>
                              <div class="docx-body"><span>{{subItem.Amount}}</span></div>
                            </li>
                          </ul>
                          <ul *ngIf="item.security.length === 0">
                            <li>
                              <div class="docx-body">
                                <div class="document-label">
                                  <label>Entry not found on {{portfoliaoDetail.value.portfoliaoDate?.singleDate?.formatted}}</label>
                                </div>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="loader" *ngIf="apiCallActive">
  <img src="assets/loading-animations-preloader-gifs-ui-ux-effects-23.gif">
</div>
